    {{^env}}
        <h1>No page yet</h1>
    {{/env}}

    {{#env}}
        {{#logged_in}}
        <h1>Member Page</h1>
        <section id="member-content" hx-get="/functions/interface/members/member_content.php" hx-trigger="load">
        </section>
        <p>There will be more here in the future. For now you can manage your login.</p>
        <div id="user-management" class="user-management-container" hx-get="/functions/interface/members/manage.php" hx-trigger="load">
        </div>
        {{>logout}}
        {{/logged_in}}
        {{^logged_in}}
        <h2>You need to be logged in to see this page</h2>
        <div class="user" id="login-container" hx-get="/functions/interface/members/login_form.php" hx-trigger="load">
        </div>
        {{/logged_in}}
    {{/env}}