{{>html_header}}
{{>page_logo}}
<section class="page-container" hx-get="/functions/interface/members/show_members_home.php" hx-trigger="load, loginStatusChanged from:body">

</section>
{{>html_footer}}