<p>What would you like to do?</p>
<div class="user-manage-options">
    <a hx-post="/functions/interface/members/reset_pw.php?target={{target}}&manage=true" hx-target="#{{target}}" hx-swap="innerHTML">Change Your Password</a>
    <a hx-post="/functions/interface/members/delete_account.php?target={{target}}" hx-target="#{{target}}" hx-swap="innerHTML">Delete Your Account</a>
</div>
