    <form hx-post="/functions/interface/members/confirm_reset_pw.php" method="post" hx-target="#{{target}}" hx-swap="innerHTML">
      <label for="userEmail">Email</label>
      <input type="email" name="email" id="userEmail" autocomplete="email" required />
      <div class="spacer"></div>
      <input type="submit" value="Reset Password" />
    </form>
    <a hx-post="/functions/interface/members/register_form.php?target={{target}}" hx-target="#{{target}}" hx-swap="innerHTML">Register</a> ||       <a hx-post="/functions/interface/members/login_form.php?target={{target}}" hx-target="#{{target}}" hx-swap="innerHTML">Log In</a> 