<form hx-post="/functions/interface/members/login.php" hx-target="#login-container" autocomplete="on">
    <input type="text" name="username" placeholder="Username" autocomplete="username">
    <input type="password" name="password" placeholder="Password" autocomplete="current-password">
    <input type="submit" value="Login"> 
</form>
