
    <input id="confirmSubmit" type="submit" value="Confirm and Pay" disabled>
    <input type='hidden' name='cc_type' id='ccType' value='unknown'>
    <a class="button" href="/members">Back to members area</a>
