    <article class="article-body">
        <div class="article-head">
        {{^blog}}
            <div class="article-title">{{title}}</div>
            <div class="article-date">{{added}}</div>
        {{/blog}}
        {{#blog}}
            <div class="article-title">{{title}}</div>
            <div class="article-date">Posted {{added}} by <strong>{{posted_by}}</strong></div>
        {{/blog}}
        </div>
        <div class="article-content">
            <p>{{{body}}}</p>
        </div>
        <div class="clearBoth"></div>
    </article>
    