        <div class="carousel-item">
            <div class="slide-image">
                <img src="/{{path}}">
            </div>
            <div class="slide-text-container">
                <div class="slide-text">
                    <h2>{{tile_title}}</h2>
                    {{{tile_text}}}
                </div>
                <div class="tile-background" style='background-image: url("/{{path}}")'></div>
            </div>
        </div>


