<div id="callToAction">
    <div>The new album <a href="https://unbelievabletruth.lnk.to/richinnerlife" target="_blank">Rich Inner Life</a> out now</div>
    <section class="emailForm">
        <div>Join our email list for news:</div>
        <form action="#" id="emailList">
            <input type="text" id="email" placeholder="email address" autocomplete="email" /> <br />
            <input type="text" id="name" placeholder="name (optional)" autocomplete="name" /> <br />
            <input type="submit" id="emailSubmit" value="enter your email" autocomplete="email" />
        </form>
    </section>
</div>