<div class="nav-show show" id="nav-show">
    <i class="fa-solid fa-bars"></i>
</div>
<nav>
    <div id="close-nav">
        <i class="fa-solid fa-xmark"></i>
    </div>
    <ul>
        <a href='/shop/'>
            <li>shop</li>
        </a>
        <a href='/news/'>
            <li>news</li>
        </a>
        <a href='/blog/'>
            <li>blog</li>
        </a>
        <a href='/shows/'>
            <li>shows</li>
        </a>
    <div class="nav-tree">
        <img src="/serve/images/graphics/CB_tree/png/inline" />
    </div>
    </ul>
</nav>