<nav id="navigation">
    <ul class="nav">
{{#sections}}
        {{>resources/navItem}}
{{/sections}}
    </ul>
</nav>

{{#resources}}
    {{>resources/resourceSection}}
{{/resources}}

<script src="/resources/js/scrollToSection.js"></script>