<div class="comment-container">
    <div class="comment-head">
        <div class="username{{#band_member}} band{{/band_member}}" >{{username}}</div>
        <div class="comment-date">{{comment_date}}</div>
    </div>
    <div class="comment-body">{{{comment}}}</div>
    {{#logged_in}}
    <form id="replyToComment{{comment_id}}" class="comment-reply" hx-post="/functions/interface/blog/reply_form.php" hx-target="#comment-reply_{{comment_id}}" hx-swap="outerHTML">
        <input type="hidden" name="replyTo_username" value="{{username}}" />
        <input type="hidden" name="replyTo_body" value="{{comment}}" />
        <input type="hidden" name="comment_id" value="{{comment_id}}" />
        <input type="hidden" name="article_id" value="{{article_id}}" />
        <input type="hidden" name="tab_id" value="{{tab_id}}" />
        <input type="submit" value="Reply" />
    </form>
    {{/logged_in}}
    <div class="comment-reply" id="comment-reply_{{comment_id}}" onclick="resizeHTMX(event)"></div>
</div>
{{#replies}}
    <div class="reply-container">
        {{>blog/comment_body}}
    </div>
{{/replies}}