{{#items}}
    {{>bundleItem}}
{{/items}}
<div class="orderLine">&nbsp;</div>
<div class="orderLine itemGrid">
  <div class="itemDetail">BUNDLE: </div>
  <div class="itemDetail">{{quantity}} @ &pound;{{price}}</div>
  <div class="itemDetail">&pound;{{bundle_total}}</div>
</div>
