<h3>Search:</h3>
<input id='filterInput-{{filter_target}}' type='text' placeholder='Search..' oninput='filterElementsBySearch(this.id, "{{filter_target}}")'>
<span class='button' id='reset-search' onclick='resetSearch("filterInput", "{{filter_target}}")'>Reset</span>