<div class="orderLine">&nbsp;</div>
<div class="orderLine filterValue itemGrid">
  <div class="itemDetail">{{name}}{{#option_name}} - {{option_name}}{{/option_name}}</div>
  <div class="itemDetail">{{quantity}} @ &pound;{{price}}</div>
  <div class="itemDetail">&pound;{{item_total}}</div>
</div>
