<figure class="float-centered"><figcaption class="img-title">{{title}}</figcaption>
    <img src="{{url}}" alt="{{title}}" {{size_string}} style="aspect-ratio: {{aspect_ratio}}; background-image: url({{thumbpath}})" />
<figcaption class="img-notes">{{notes}}</figcaption></figure>
