{{>html_header}}
<div id="hero-container">
    <div class="hero-background" style="background: #000 url(/serve/videos/bg/{{background}}_bg/jpg/inline) center center no-repeat; background-size: cover; background-attachment: fixed"></div>
    <div id="logo">
        <img src="/serve/images/logos/UnbelievableTruth-logo-white_web/png/inline" />
    </div>
    <div class="hero-tree">
        <img src="/serve/images/graphics/CB_tree_col/png/inline" />
    </div>
    <div class="videoContainer">
    <video id="heroVid" poster="/serve/videos/ril_hero_poster/jpg/inline" autoplay loop muted>
        <source src="/serve/videos/{{background}}_hero_small/mp4/inline" type="video/mp4" />
        Your browser does not support the video tag. Sozzard!
    </video>
    </div>
</div>
{{>email_signup}}

{{>html_footer}}
