    <section class="" id="hero">
        <header class="content-header sticky-head" data-targetId='hero'>
            <h2>
                    News
            </h2>
        </header>
        <div class="" id="hero-content">
            <div class="carousel content-block" id="carousel">
                {{#carousel_tiles}}
                    {{>carousel_tile}}
                {{/carousel_tiles}}
            </div>
        </div>
    </section>