{{>html_header}}
{{>page_logo}}
<section class="page-container">
    <h2>
            News
    </h2>
    <div class="" id="hero-content">
        <div class="carousel content-block" id="carousel">
            {{#carousel_tiles}}
                {{>carousel_tile}}
            {{/carousel_tiles}}
        </div>
    </div>
</section>
{{>html_footer}}