<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/reset.css?v={{v}}" />
    <link rel="stylesheet" href="/styles/imports.css?v={{v}}" />
    <link rel="stylesheet" href="/styles/vars.css?v={{v}}" />
    <link rel="stylesheet" href="/styles/main.css?v={{v}}" />
    <link rel="stylesheet" href="/styles/carousel.css?v={{v}}">
    <link rel="stylesheet" href="/styles/resources.css?v={{v}}" />
    <link rel="stylesheet" href="/styles/nav.css?v={{v}}" />
    <link rel="stylesheet" href="/styles/private.css?v={{v}}" />
    {{#stylesheets}}
    <link rel="stylesheet" href="/styles/{{.}}.css?v={{v}}" />
    {{/stylesheets}}
    <script defer src="/js/utils.js"></script>
    <script src="/js/lib/htmx.min.js"></script>
    <script defer src="/js/accordion.js"></script>
    <script src="https://kit.fontawesome.com/865fbd0535.js" crossorigin="anonymous"></script>
    <script src="/private/js/updateArticlePreview.js"></script>
    <script src="/private/js/addFileButtonManager.js" defer></script>
    <script src="/private/js/addToBody.js" defer></script>
    <script src="/private/js/copyToClipboard.js" defer></script>
    <title>Unbelievable Truth - Admin</title>
  </head>
  <body>
      {{#env}}
      <h1 class="float-top-left">{{env}}</h1>
    {{/env}}
    {{>nav}}
    <header>
      <div class="page-logo"><img src="/serve/images/logos/UnbelievableTruth-logo-white_web/png/inline" width="500"/></div>
    </header>
    <main>
      <section class="page-container">
