<div class="nav-show show" id="nav-show">
    <i class="fa-solid fa-bars"></i>
</div>
<nav>
    <div id="close-nav">
        <i class="fa-solid fa-xmark"></i>
    </div>
    <ul>
        <a href='/private/stock/'>
            <li>Stock</li>
        </a>
        <a href='/private/orders/'>
            <li>Orders</li>
        </a>
        <a href='/private/content/'>
            <li>Content</li>
        </a>
        <a href='/private/mailout/'>
            <li>Mailout</li>
        </a>
        <a href='/private/resources/'>
            <li>Resources</li>
        </a>
        <a href='/private/utility/'>
            <li>Utility</li>
        </a>
    </ul>
</nav>