{{>html_header_shop}}
{{#session_timeout}}
    <h1 class="error">YOUR SESSION TIMED OUT. PLEASE TRY AGAIN.</h1>
{{/session_timeout}}
{{#technical_error}}
    <h1 class="error">There was a technical error. Your card has not been charged, and your cart has been emptied. Sorry about that, please try again.</h1>
{{/technical_error}}
{{>categories}}
{{>cart_preview}}
<section class="articleContainer">
    <section class="articleBody">
        <div class="articleHead">
            <div class="articleTitle">Almost Here</div>
        </div>
        <figure class="floatCentered">
            <img style="max-width: 30%" src="/serve/images/images/UMCLP144-vinyl-mockup/jpeg/inline">
        </figure>
        <p>
            Our debut album is finally getting a re-release on heavyweight vinyl, in single and double LP versions.<br>
            The first is the original album unadulaterated, and the double has a second disc of rare tracks and b-sides.<br>
            Buy now below, and bundle it up with our new album Rich Inner Life to save some money!
        </p>    
    </section>
</section>
<div class='callout'><h1>SHOP</h1></div>
<section class="cartContainer">
    <section class='show items'>
    <h2>Top Items</h2>
    {{#featured}}
        <section class='item'>
            <a href="/shop/item/{{item_id}}">
            <div class="link-container">
                <p>{{name}}</p>
                <p id="item{{item_id}}-price">&pound;{{price}}</p>
                {{#image}}
                <img src="{{image_path}}" alt="image" width="100">
                {{/image}}
            </div>
            </a>
            {{>item_interact}}
        </section>
    {{/featured}}
    </section>
    <section class="show bundles">
        <h2>Bundles</h2>
        {{#bundles}}
            <section class="bundle">
                <form hx-post='/functions/interface/shop/add_to_cart.php' hx-target='#bundleResult{{bundle_id}}' hx-swap='innerHTML'>
                {{#items}}
                    <div class="bundle-item">
                        <p>{{name}}</p>
                        {{#image}}
                            <img src="{{image_path}}" alt="image" height="50px">
                        {{/image}}
                        {{>item_interact}}
                    </div>
                {{/items}}
                {{>bundle_interact}}
                </form>
            </section>
        {{/bundles}}
    </section>
    <section class='show items'>
    <h2>Items</h2>
    {{#items}}
        <section class='item'>
            <a href="/shop/item/{{item_id}}">
            <div class="link-container">
                <p>{{name}}</p>
                <p id="item{{item_id}}-price">&pound;{{price}}</p>
                {{#image}}
                <img src="{{image_path}}" alt="image" width="100">
                {{/image}}
            </div>
            </a>
            {{>item_interact}}
        </section>
    {{/items}}
    </section>
    <div id="cartMessage"></div>
</section>
<script src="/js/shop/updateItemPrice.js"></script>
{{>html_footer}}