
{{>html_header_shop}}
<section class="articleContainer">
    <section class="articleBody">
        <div class="articleHead">
            <div class="articleTitle">Rich Inner Life</div>
        </div>
        <figure class="floatCentered">
            <img style="max-width: 30%" src="/serve/images/images/UnbelievableTruth-RichInnerLife-web/jpg/inline">
        </figure>
        <p>
            Our new album is released on 26th September 2025 on digital, vinyl and CD.<br>
            You can pre-order signed copies through Music Glue, and there are bundle offers when you buy the album along with a ticket for the October tour, head over to Music Glue and check it out.<br>
            Non-signed (cheaper!) copies will be available here for pre-order soon
        </p>
        <p>
            <a class="button" href="https://www.musicglue.com/unbelievable-truth" target="_blank">Gig ticket and signed album bundles</a>
        </p>
    </section>
</section>

{{>html_footer}}