{{>htmlHeader}}
<main>
    {{#heading}}
        <h1>{{heading}}</h1>
    {{/heading}}
    <p>{{#name}}Hello {{name}}!{{/name}}
    {{^name}}Hi friend!{{/name}}</p>
    <p>You're recieving this email because you recently pre-ordered the deluxe 2LP vinyl re-release of Almost Here, for which we thank you greatly. We had a limited number of these onsale including a special signed art print which sold out very quickly, which a number of people seemed disappointed by.</p>
    <p>We have received and signed the art prints now, and we were given a few more than our allocation. If you would like to upgrade your order to include the signed print they are now on our <a href="https://unbelievabletruth.co.uk/shop/">webshop</a> as an upgrade. Scroll down and add the art print to your basket, it is priced so you will only pay the same as someone who ordered the signed 2LP version in the first place.</p>
    <p>There are a limited number, and it will once again be first come first served. Anyone who hasn't already placed an order for the double album will be blocked from buying the art print at checkout, so it will only be available as an upgrade for the first week. If there are any left after that we will open up orders for the signed 2LP again.</p>
    <p>I've thrown together the code to make this work and tested it, but, like war plans, coding rarely survives first contact with the public so if there's any issues drop me an email and I'll try and sort it out</p>
    <p>Thanks for your support - Andy, Jason and I appreciate it very much.</p>
    <p>Toodle, and also, pip.</p>
    <p>nigel</p>
</main>
{{>htmlArtprintFooter}}