{{>textHeader}}
Dear {{#name}}{{name}}{{/name}}{{^name}}Valued Customer{{/name}}

You're recieving this email because you recently pre-ordered the re-release of Almost Here.

As some of you already know we were told a little while ago that manufacturing was running late on the double album version, and it would be delayed to 8th May. Now the original release date has come and gone, and the single albums have not been delivered either. Universal Music, who are doing the manufacturing have now said they will deliver for an 8th May release date.

It's been a long wait for this, and it's frustrating for it to be delayed another week. As soon as we have received stock we will post your order. Please accept our apologies, this is out of our control and I wish we could do something about it.

Thank you for all your support, Andy, Jason and I really appreciate it.

nigel