{{>textHeader}}
Dear {{#name}}{{name}}{{/name}}{{^name}}Valued Customer{{/name}}

You're recieving this email because you recently pre-ordered the deluxe 2LP vinyl re-release of Almost Here.

Unfortunately we've just been informed by Universal Music that the albums will not be ready for the 24th April release date. They have assured us that a release date of 1st May will be fine.

It's been a long wait for this, and it's frustrating for it to be delayed another week. As soon as we have received stock we will post your order. Please accept our apologies, this is out of our control and I wish we could do something about it.

Thank you for all your support, Andy, Jason and I really appreciate it.

nigel