<h1>SUBJECT</h1><div class="subject">{{subject}}</div>
<h1>HTML PREVIEW</h1><div class="html-preview">{{{html_body}}}</div>
<h1>TEXT PREVIEW</h1><div class="text-preview"><pre>{{{text_body}}}</pre></div>