Hi there{{#name}} {{name}}{{/name}},

{{#bandcamp}}
We're tidying up our email lists and trying to get them all in one place. You are receiving this email because at some point you have bought something from us on Bandcamp. If it's ok with you we'd like to add you to our own email list so you can get news about releases, tours and other stuff first.
If you'd rather not, no worries, don't do anything and the world will carry on as it was before. But if you would like to please see the link below to sign up
{{/bandcamp}}

Please confirm adding your email to the Unbelievable Truth email list by clicking the link below.

{{host}}/email_management/confirm.php?email={{email}}&check={{secure_id}}