        <section class="commentForm" id="commentForm_{{article_id}}">
            {{#logged_in}}
                {{>comment_form}}
            {{/logged_in}}
            {{^logged_in}}
                You need to be logged in to comment.
            {{/logged_in}}
        </section>
        <form id="replyToComment{{comment_reply_id}}" class="commentReply" hx-swap-oob="true">
        <input type="submit" value="Reply" disabled />