        <section class="comment-form" id="comment-form_{{article_id}}">
            {{#logged_in}}
                {{>blog/comment_form}}
            {{/logged_in}}
            {{^logged_in}}
                You need to be logged in to comment.
            {{/logged_in}}
        </section>
        <form id="replyToComment{{comment_reply_id}}" class="comment-reply" hx-swap-oob="true">
        <input type="submit" value="Reply" disabled />