/* articles */
.article-container,
.article-links,
.comment-form,
.comments {
  width: 90%;
  margin: auto;
}

.article-container {
  padding: var(--std-padding-medium);
  background-color: var(--article-background);
  /* margin: var(--std-margin-small) 0; */
  padding-bottom: var(--std-margin-small);
  /* box-shadow: var(--article-shadow); */
}

.article-container.hidden {
  display: none;
}

.article-head {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: 1px solid var(--article-border);
}

@media screen and (max-width: 900px) {
  .article-head {
    flex-direction: column;
  }
}

.article-body {
  color: var(--tab-colour);
  font-size: 0.9em;
  padding: 0 var(--std-padding-small);
}

.article-content {
  padding: var(--std-padding-medium);
  text-align: left;
}

.article-content a {
  color: var(--tab-colour);
}

.article-content a:hover {
  color: var(--tab-hover-colour);
}

@media screen and (max-width: 900px) {
  .article-body,
  .article-content {
    padding: 0;
    width: 100%;
  }
  .article-content figure {
    border: 2px solid red;
  }
}

.article-content br {
  content: 'A' !important;
  display: block !important;
  margin-bottom: 1.5em !important;
}
.audio-player h2 {
  font: OpenSans;
  font-style: normal;
  font-size: 1.3em;
}

.audio-player p {
  font-size: 0.8em;
}

article audio {
  max-width: 70vw;
}
article img {
  font-style: italic;

  background-repeat: no-repeat;
  background-size: cover;
  max-width: max(70vw, 100%);
  height: auto;
}

.article-title {
  justify-self: start;
  font: OpenSansBold;
  font-size: 1.5em;
}

.article-date {
  justify-self: end;
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.8em;
}

.article-date::before {
  content: '--';
}

.article-date::after {
  content: '--';
}

@media screen and (max-width: 900px) {
  .article-date {
    width: 100%;
    justify-self: center;
  }
}

/* blog image floats */

figure {
  margin: 0;
}

figure.float-left,
figure.float-right,
figure.float-centered {
  padding: 0.5em 1em;
  margin-bottom: 1em;
  background-color: var(--header-block-background);
  border: 1px solid var(--comment-border);
}

figure.float-left {
  float: left;
  margin-right: 1em;
  text-align: left;
}

figure.float-right {
  float: right;
  margin-left: 1em;
  text-align: right;
}

figure.float-centered {
  clear: both;
  display: flex;
  flex-direction: column;
  align-items: center;
}

figure.float-left,
figure.float-right {
  display: inline-block;
}
.img-title {
  font-family: OpenSansBold;
}

.img-notes {
  font-size: 0.7em;
}

section.article-links {
  padding: 0.5em;
  margin-top: 0.5em;
  background-color: var(--article-background);
}

.article-links a.article-link {
  display: block;
  color: #aaa;
  text-decoration: none;
  padding: 0.3em;
  margin: 0.3em;
  background-color: var(--tab-colour);
  transition:
    background-color ease 0.5s,
    scale ease 0.5s;
}

.article-links a.article-link:hover {
  color: #000;
  cursor: pointer;
  background-color: var(--tab-hover-colour);
  scale: 1.01;
}
