body {
  color: white;
  font-family: sans-serif;
  background-color: black;
  overflow-x: hidden;
}

#hero-container {
  position: relative;
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-background {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  filter: blur(8px);
}

@media screen and (min-width: 900px) {
  #hero-container {
    height: 100vh;
  }
  .hero-background {
    display: none;
  }
  #hero,
  #blog,
  #gigs {
    min-height: 100vh;
  }
}

#hero-container img {
  max-width: 80%;
}

.videoContainer video {
  object-fit: cover;
  width: 100%;
  height: auto;
  transform-origin: top;
  scale: 1;
  opacity: 1;
  -webkit-mask-image: linear-gradient(to top, transparent 5%, black 100%);
  mask-image: linear-gradient(to top, transparent 5%, black 100%);
}

.videoContainer {
  display: none;
  width: 100%;
  aspect-ratio: 16 / 9;
}

@media screen and (min-width: 900px) {
  .videoContainer {
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    aspect-ratio: 16 / 9;
  }
}

@keyframes hero-image {
  0% {
    scale: 1;
    opacity: 1;
  }
  20% {
    scale: 1;
    opacity: 1;
  }
  100% {
    scale: 2;
    opacity: 0;
  }
}

#logo {
  position: absolute;
  top: 20vh;
  width: 100%;
  display: flex;
  justify-content: center;
  opacity: 1;
  z-index: 2;
}
@media screen and (min-width: 900px) {
  #logo {
    top: 40vh;
    animation: blurFade 5s forwards;
  }
}

@keyframes blurFade {
  0% {
    filter: blur(16px);
    opacity: 0;
  }
  100% {
    filter: blur(1px);
    opacity: 1;
  }
}

#heroVid {
  filter: blur(8px);
}

@media screen and (max-width: 900px) {
  .hero-tree {
    display: none;
  }
}

.hero-tree img {
  margin-top: 10rem;
  max-height: 20vh;
  z-index: 6;
  animation: blurFade 5s forwards;
  filter: saturate(0%);
}
