body {
  color: white;
  font-family: sans-serif;
  background-color: black;
  overflow-x: hidden;
}

section#pageContainer {
  height: 300vh;
}

#hero-container {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

#hero-container img {
  max-width: 80%;
}

.videoContainer {
  position: absolute;
  top: 0;
  width: 100%;
  aspect-ratio: 16 / 9;
}

video {
  object-fit: cover;
  width: 100%;
  height: auto;
  transform-origin: top;
  scale: 1;
  opacity: 1;
  animation: hero-image linear forwards;
  animation-timeline: scroll(block);
  animation-range: normal 200vh;
  -webkit-mask-image: linear-gradient(to top, transparent 5%, black 100%);
  mask-image: linear-gradient(to top, transparent 5%, black 100%);
}

@keyframes hero-image {
  0% {
    scale: 1;
    opacity: 1;
  }
  20% {
    scale: 1;
    opacity: 1;
  }
  100% {
    scale: 2;
    opacity: 0;
  }
}

#logo {
  width: 100%;
  position: absolute;
  z-index: 50;
  display: flex;
  justify-content: center;
  top: 18vh;
  animation: logo linear forwards;
  animation-timeline: scroll();
}

@keyframes logo {
  0% {
    opacity: 1;
    /* top: 18vh; */
  }
  50% {
    opacity: 1;
    /* top: 100vh; */
  }
  85%,
  100% {
    opacity: 0;
    top: 130vh;
  }
}

#callToAction {
  position: absolute;
  top: 100vh;
  left: -20vw;
  animation: call-to-action linear forwards;
  animation-timeline: scroll(block);
  animation-range: normal 200vh;
}

@keyframes call-to-action {
  0% {
    left: -20vw;
    opacity: 0;
  }
  10% {
    left: -20vw;
    opacity: 0;
  }
  25% {
    left: 10vw;
    opacity: 1;
  }
  40% {
    left: 10vw;
    opacity: 1;
  }

  50% {
    left: 10vw;
    opacity: 0;
  }
}

.sticky-head {
  position: sticky;
  margin-top: 5em;
  top: 0;
}
