body {
  color: white;
  font-family: sans-serif;
  background-color: black;
  overflow-x: hidden;
}

section#pageContainer {
  height: fit-content;
}

#hero-container {
  position: relative;
  width: 100%;
  min-height: fit-content;
}

@media screen and (min-width: 900px) {
  #hero-container {
    height: 100vh;
  }
  #hero,
  #blog,
  #gigs {
    min-height: 100vh;
  }
}

#hero-container img {
  max-width: 80%;
}

.videoContainer video {
  object-fit: cover;
  width: 100%;
  height: auto;
  transform-origin: top;
  scale: 1;
  opacity: 1;
  animation: hero-image linear forwards;
  animation-timeline: scroll(block);
  animation-range: normal 200vh;
  -webkit-mask-image: linear-gradient(to top, transparent 5%, black 100%);
  mask-image: linear-gradient(to top, transparent 5%, black 100%);
}

.videoContainer {
  width: 100%;
  aspect-ratio: 16 / 9;
}

@media screen and (min-width: 900px) {
  .videoContainer {
    position: absolute;
    top: 0;
    width: 100%;
    aspect-ratio: 16 / 9;
  }
}

@keyframes hero-image {
  0% {
    scale: 1;
    opacity: 1;
  }
  20% {
    scale: 1;
    opacity: 1;
  }
  100% {
    scale: 2;
    opacity: 0;
  }
}

#logo {
  position: absolute;
  top: 1vh;
  width: 100%;
  display: flex;
  justify-content: center;
  opacity: 1;
  z-index: 2;
  animation: logo-mob linear forwards;
  animation-timeline: scroll();
}
@media screen and (min-width: 900px) {
  #logo {
    top: 18vh;
    animation: logo linear forwards;
    animation-timeline: scroll();
  }
}

@keyframes logo {
  0% {
    opacity: 1;
    /* top: 18vh; */
  }
  50% {
    opacity: 1;
    /* top: 100vh; */
  }
  85%,
  100% {
    opacity: 0;
    top: 130vh;
  }
}
@keyframes logo-mob {
  0% {
    opacity: 1;
    top: 1vh;
  }
  10% {
    opacity: 0;
    top: 50vh;
  }
}

#callToAction,
#callToAction .emailForm,
#callToAction .emailForm form {
  z-index: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 900px) {
  #callToAction {
    position: absolute;
    top: 100vh;
    left: -20vw;
    animation: call-to-action linear forwards;
    animation-timeline: scroll(block);
    animation-range: normal 200vh;
  }
  #callToAction,
  #callToAction .emailForm,
  #callToAction .emailForm form {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

@media (prefers-reduced-motion: reduce) {
  .videoContainer video {
    animation: none;
  }
  #logo {
    animation: none;
  }
  #callToAction {
    animation: none;
    left: 10vw;
  }
}

@keyframes call-to-action {
  0% {
    left: -20vw;
    opacity: 0;
  }
  10% {
    left: -20vw;
    opacity: 0;
  }
  25% {
    left: 10vw;
    opacity: 1;
  }
  40% {
    left: 10vw;
    opacity: 1;
  }

  50% {
    left: 10vw;
    opacity: 0;
  }
}

.sticky-head {
  position: sticky;
  margin-top: 5em;
  top: 0;
}
