.content-container {
  color: black;
  background-color: white;
  border-radius: 5px;
  box-shadow: var(--dark-shadow);
  padding: 1em;
  margin: var(--std-margin-small);
}

.content-container input {
  display: block;
}

.carousel-preview {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.carousel-tile-preview {
  margin: 0.5em;
  padding: 0.5em;
  border: 1px solid black;
}

.carousel-tile-preview img {
  height: 300px;
}

.carousel-image-preview {
  display: block;
  max-width: 230px;
  max-height: 95px;
  width: auto;
  height: auto;
}

.submit-order-spinner-container img {
  max-width: 70px;
  max-height: 70px;
}

.list-row {
  display: grid;
  grid-template-columns: 25em 3em;
  column-gap: 0.5em;
  row-gap: 0.3em;
  padding: 0.5em;
  margin-bottom: 0.1em;
}
.list-row:nth-child(even) {
  background-color: #444;
}
.list-row:nth-child(odd) {
  background-color: #777;
}

.price {
  float: right;
}

.price-holder {
  width: 6em;
}

section.accordion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--article-border);
}

section.accordion header {
  width: 100%;
  display: flex;
  padding: var(--std-padding-small);
  /* margin: var(--std-margin-small) 0; */
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

img.hidden {
  display: none;
}

.accordion-content {
  width: 80%;
  background-color: var(--tab-background);
  color: var(--tab-colour);
  max-height: 0;
  overflow: hidden;
  height: fit-content;
  transition:
    max-height 0.5s ease-in-out,
    padding 0.5s ease-in-out;
}

@media screen and (max-width: 900px) {
  main,
  .accordion,
  .accordion-content {
    padding: 0;
    width: 100%;
  }
}

section.accordion:nth-of-type(even) > header {
  background-color: var(--list-even);
}
section.accordion:nth-of-type(odd) > header {
  background-color: var(--list-odd);
}

.callout {
  margin-top: 2em;
  margin-bottom: 0.5em;
}

a {
  color: #005;
}
