/* general */

section.resource {
  color: black;
  padding: 2em;
  border-bottom: 1px solid black;
}

section.resource img {
  display: block;
  max-width: 300px;
  max-height: 300px;
  width: auto;
  height: auto;
}

section.resource:nth-last-of-type(odd) {
  background-color: white;
}

section.resource:nth-last-of-type(even) {
  background-color: #eee;
}

a.imgLink {
  display: block;
}

.resource {
  position: relative;
}

.resourceItem {
  padding-bottom: 0.3em;
  border-bottom: 1px solid #a9a9a9;
  margin-bottom: 0.3em;
}

.video {
  position: relative;
  aspect-ratio: 16/9;
  width: clamp(200px, 100%, 560px);
}

.responsiveIframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul.nav,
ul.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: clamp(60%, fit-content, 100%);
}

nav ul.nav li,
ul.nav li {
  display: inline-block;
  list-style: none;
  font-size: 0.7em;
  height: 2em;
  text-align: center;
  vertical-align: middle;
  background-color: #333;
  color: white;
  cursor: pointer;
  padding: 0.2em;
  margin: 0.2em;
}

nav ul.nav li {
  font-size: 1em;
  font-weight: bold;
  width: 7em;
  height: 4em;
}

nav ul.nav li:hover,
ul.nav li:hover {
  background-color: #555;
}

ul.nav {
  position: absolute;
  bottom: 0;
  right: 0.2em;
}

nav ul.nav {
  position: relative;
}
.socials {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #888;
  padding-bottom: 1em;
  margin-bottom: 0.5em;
}

.social {
  font-weight: bold;
}

.social a,
.social a:visited,
.social a:active {
  text-decoration: underline;
  color: #888;
}

.resource_container {
  padding: 0.5em;
  margin-bottom: 1em;
}

.resource_container:nth-child(odd) {
  background-color: #afafcf;
}
.resource_container:nth-child(even) {
  background-color: #cfafaf;
}

blockquote {
  margin-top: 1em;
  border: none;
  position: relative;
  /* margin-bottom:-30px; */
  quotes: '\201C''\201D''\2018''\2019';
  width: fit-content;
}

blockquote h3 {
  font-family: var(--headingFont);
  font-size: 1.6em;
  line-height: 1em;
}

blockquote h3:before {
  font-family: Georgia, 'Times New Roman', Times, serif;
  position: absolute;
  top: 0.2em;
  left: -0.2em;
  content: open-quote;
  font-weight: bold;
  font-size: 100px;
  color: #80808040;
}
blockquote h3:after {
  font-family: Georgia, 'Times New Roman', Times, serif;
  position: absolute;
  bottom: -0.2em;
  right: -0.2em;
  content: close-quote;
  font-weight: bold;
  font-size: 100px;
  color: #80808040;
}

.quoteSource {
  width: fit-content;
  font-size: 1em;
  font-style: italic;
  margin-top: 0.8em;
}

.resourceItem.pressQuote {
  text-align: left;
  border-bottom: 1px solid var(--articleBorder);
  padding: 1em;
  margin-bottom: 0.5em;
}

.resourceItem.pressQuote:last-of-type {
  border-bottom: none;
}
