.user {
  position: relative;
  width: clamp(30px, 30vw, 500px);
  background-color: rgba(255, 255, 255, 0.4);
  padding: 5px;
  mix-blend-mode: difference;
  border-radius: 10px;
  z-index: 3;
  margin: auto;
}

.user img {
  width: 100%;
  height: auto;
}

.user-modal {
  position: fixed;
  top: 0;
  right: 0;
  transition: top 1s ease;
  font-size: 0.8em;
  width: clamp(12em, 12%, 15em);
  padding: 8px;
  margin-right: 5px;
  background-color: rgba(100, 100, 100, 0.9);
  z-index: 4;
  border-radius: 5px;
}

.user.userHide {
  top: -120px;
}
.user.userShow {
  top: clamp(50px, 4.5vw, 80px);
}

.user.htmx-added {
  right: 10vw;
}

.user label {
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.7em;
  font-weight: 300;
}

.user form {
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: right;
  align-items: center;
}

.user form input {
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.7em;
  font-weight: 300;
}

.user form input[type='text'],
.user form input[type='password'] {
  width: 90%;
  height: 1.5em;
}

.user form input[type='submit'] {
  width: auto;
  max-width: 14em;
}

.username {
  color: var(--username-colour);
}

.user a {
  font-size: 0.8em;
  color: #ff99;
  transition: color 0.4s ease-in-out;
}

.user a:hover {
  cursor: pointer;
  color: #fff;
}
