:root {
  /* margins */
  --std-margin-small: 0.5rem;
  --std-margin-medium: 1rem;
  --std-margin-big: 1.8rem;

  /* padding */
  --std-padding-small: 0.5rem;
  --std-padding-medium: 1rem;
  --std-padding-big: 1.8rem;

  /* colours */
  --std-background: #000000;
  --std-colour: #fff;

  --error-colour: #d22;

  --anchor-colour: #111;
  --footer-anchor-colour: #cccccf;

  --transparent: #00000000;

  --header-block-background: #939393b1;
  --header-block-colour: #222;

  --alert-background: #222;
  --alert-colour: #f88;

  --tab-background: #bbb;
  --tab-colour: #111;

  --tab-hover-colour: #ccc;

  --article-text: #222;
  --article-background: #fff9ff;
  --article-border: #989;
  --article-shadow: -3px -3px var(--std-margin-small) #d7dfdf;

  --comment-border: #797;

  --list-even: #ddfffe;
  --list-odd: #feeeff;

  --trans-black: #00000060;

  --comment-box-outline: 1px solid #b1b1b1;

  --comp-col-brt-1: #01a0e499;
  --comp-col-brt-2: #bdd3dd99;
  --comp-col-brt-3: #00693b99;
  --comp-col-brt-4: #44650999;
  --comp-col-brt-5: #15650999;

  /* typography */
  --std-font: OpenSans, Inter, sans-serif;
  --heading-font: OpenSansBold, Inter, sans-serif;
  --font-base-size: 1em;
  --std-line-height: 1.27em;
  --font-small: 0.8em;
  --font-heading: 1.2em;

  /* other */
  --dark-shadow: 0.5em 0.5em 0.45em #ccc;

  /* animaation */
  --std-transition-time: 900ms;
}
